.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  background-color: #181818;
}
.bg-color { background:#181a21;}
input { background:#131111 !important;
  color:#bfbdbd !important;
}
.ant-input-affix-wrapper {
  background-color: #131111;
  color:#bfbdbd
}
.ant-input:focus, .ant-input-focused {
    border-color: #8758ff;
  }

  .right-extra .ant-form-item-extra {
    text-align: right;
  }
  .ant-input:hover {
    border-color: #8758ff;
}
.label-info.buttons{
  margin-top:1em;
}
.button.grey {
  background: grey !important;
}
.button.buy{
  background: #5CB8E4 !important;
}
button.is-success {
  background-color: #8758FF !important;
}
.navbar-item:hover{
  background-color: transparent !important;
  color:#8758FF !important;
}
.navbar {
  background-color: #131111 !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
min-height: 5em;
}
.dropdown-content {
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  background-color: #131111 !important;
}
.label-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.label-info label {
  margin-right: 0.5em;
  min-width: 30%;
}
.navbar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.navbar-item.is-active {
  color:#8758FF !important;
}
.rodal .modal-header {
  background: #131111;
color: white;
padding: 1em;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.rodal .rodal-close {
  top: 1em;
right: 1em;
}
.rodal .rodal-dialog {
  padding: 0;
background: #181818;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    max-width: 80vw;
width: min-content !important;
display: flex;
flex-direction: column;
height: min-content !important;


}


.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
}
[data-theme="dark"] .steps-content {
  margin-top: 16px;
  border: 1px dashed #303030;
  background-color: rgba(255,255,255,0.04);
  color: rgba(255,255,255,0.65);
  padding-top: 80px;
}

.step-container {

  padding:2em;

}
.ant-picker {
  width: 100%;
}
html {
    --antd-wave-shadow-color: #8758ff !important;
    --scroll-bar: 0;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #8758ff !important;
}
.margin-bottom-0 {
  margin-bottom:0 !important;
}
.ant-form-item.extra-marginBottom-0 {
  margin-bottom:0 !important;
}
.ant-form-item.extra-marginBottom-0 .ant-form-item-control-input-content {
  display: flex;
  background-color: transparent !important;
}
.ant-form-item {
  margin-bottom:20px !important;
}
.extra-l .ant-form-item-row {
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
}

.extra-l .ant-col  {
  width: 100% !important;
  justify-content: flex-start;
display: flex;
}
.extra-l .ant-form-item-control-input {
  width:100%;
}
.removebg2 .ant-form-item-control-input-content {
  background: transparent;
}
.removebg .ant-form-item-control-input-content {
  background: transparent;
  margin-top:0.5em;
}
.ant-form-item-control-input-content {
  background: rgb(19, 17, 17);
}
.ant-upload.ant-upload-drag {
  background: rgb(19, 17, 17);
}
textarea.ant-input {
  min-height:120px
}
.margin-top-0 .column {
    padding-top: 0;
}
.margin-bottom-0 .column {
  padding-bottom: 0;
}
.ant-tabs-tab:hover {
    color: #8758ff !important;
}
.ant-tabs-ink-bar {
    position: absolute;
    background: #8758ff !important;
    pointer-events: none;
}
.ant-tabs {
  color:#bfbdbd !important;
}
.ant-tabs-dropdown-menu {
  background-color: #131111 !important;
}
.ant-tabs-dropdown-menu-item {
  color: #bfbdbd !important;
}
.ant-form-item-label > label {
    color: #bfbdbd !important;
}
.ant-form-item-explain, .ant-form-item-extra {
  color: #bfbdbd !important;
}
.ant-tabs-dropdown-menu-item:hover {
    background: #8758ff !important;
    color: white !important;
}
.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    position: absolute;
    right: 0;
    left: 0;

    content: '';
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: #8758ff !important;
}
.ant-steps-item-process .ant-steps-item-icon {
  border-color: #8758ff !important;
}
.ant-steps-item-wait .ant-steps-item-icon {
  background-color: #131111 !important;
  border-color: rgb(135, 88, 255) !important;

}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #8758ff !important;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: white !important;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: white !important;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: white !important;
}
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: white !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #8758ff !important;
}
.anticon svg {
  fill: #8758ff !important;
}

.ant-steps-item-finish .ant-steps-item-icon {

    background-color: #131111 !important;
    border-color: #8758ff !important;

}
.ant-btn-primary {
  border-color: #8758ff !important;
background: #8758ff !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circles li{
  background-color: rgba(135, 88, 255, 0.4) !important;
}
.area{
  position:fixed;
    background: #131111 !important;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100vh;


}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
